<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Agregar asunto'); ?></h4></div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name"><?php _e('Nombre del asunto'); ?> *</label>
                <input type="text" class="form-control" id="name" name="name" value="" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="issuetype"><?php _e('Tipo'); ?></label>
                <select class="form-control select2-icon" id="issuetype" name="issuetype" style="width: 100%;">
                    <option value="Tarea" data-icon="fa-check-square fa-fw text-blue"> <?php _e('Tarea'); ?></option>
                    <option value="Mantenimiento" data-icon="fa-minus-square fa-fw text-yellow"> <?php _e('Mantenimiento'); ?></option>
                    <option value="Error" data-icon="fa-bug fa-fw text-red"> <?php _e('Error'); ?></option>
                    <option value="Mejoramiento" data-icon="fa-external-link fa-fw text-teal"> <?php _e('Mejoramiento'); ?></option>
                    <option value="Nueva caracteristica" data-icon="fa-plus-square fa-fw text-green"> <?php _e('Nueva caracteristica'); ?></option>
                    <option value="Historia" data-icon="fa-circle fa-fw text-red"> <?php _e('Historia'); ?></option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="clientid"><?php _e('Cliente'); ?></label>
                    <select class="form-control select2 select2-hidden-accessible" id="clientid" name="clientid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        <option value="0"><?php _e('Ninguno'); ?></option>
                        <?php foreach ($clients as $client) { ?>
                            <option value='<?php echo $client['id']; ?>' <?php if(isset($_GET['clientid'])) { if($_GET['clientid'] == $client['id']) echo "selected"; }  ?>><?php echo $client['name']; ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="clientid" value="<?php echo $liu['clientid']; ?>"><?php } ?>
        </div>
        <div class="col-md-6">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="adminid"><?php _e('Asignar a'); ?></label>
                    <select class="form-control select2 select2-hidden-accessible" id="adminid" name="adminid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        <option value="0"><?php _e('Nadie'); ?></option>
                        <?php foreach ($admins as $admin) { ?>
                            <option value='<?php echo $admin['id']; ?>' <?php if(isset($liu['id'])) { if($liu['id'] == $admin['id']) echo "selected"; }  ?>><?php echo $admin['name']; ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="adminid" value="0"><?php } ?>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="assetid"><?php _e('Activo'); ?></label>
                <select class="form-control assetsSelect select2-hidden-accessible" id="assetid" name="assetid" style="width: 100%;">
                    <?php if(isset($_GET['assetid'])) { ?>
                        <option value="<?php echo $_GET['assetid']; ?>"><?php echo getSingleValue("assets","tag",$_GET['assetid']) ; ?> <?php echo getSingleValue("assets","name",$_GET['assetid']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('Ninguno'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="projectid"><?php _e('Proyecto'); ?></label>
                <select class="form-control projectsSelect select2-hidden-accessible" id="projectid" name="projectid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <?php if(isset($_GET['projectid'])) { ?>
                        <option value="<?php echo $_GET['projectid']; ?>"><?php echo getSingleValue("projects","tag",$_GET['projectid']) ; ?> <?php echo getSingleValue("projects","name",$_GET['projectid']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('Ninguno'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label for="status"><?php _e('Estado'); ?></label>
                <select class="form-control select2" id="status" name="status" style="width: 100%;">
                    <option value="Que hacer"><?php _e('Que hacer'); ?></option>
                    <option value="En progreso"><?php _e('En progreso'); ?></option>
                    <option value="En revisión"><?php _e('En revisión'); ?></option>
                    <option value="Terminado"><?php _e('Terminado'); ?></option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="priority"><?php _e('Prioridad'); ?></label>
                <select class="form-control select2" id="priority" name="priority" style="width: 100%;">
                    <option value="Bajo"><?php _e('Bajo'); ?></option>
                    <option value="Normal" selected><?php _e('Normal'); ?></option>
                    <option value="Alto"><?php _e('Alto'); ?></option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="duedate"><?php _e('Fecha de vencimiento'); ?></label>
                <div class="input-group">
                    <input type="text" class="form-control duedate" id="duedate" name="duedate">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="control-label"><?php _e('Descripcion'); ?></label>
        <textarea class="form-control summernote-modal" id="description" name="description"></textarea>
    </div>

    <input type="hidden" name="action" value="addIssue">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancelar'); ?></button>
    <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-check"></i> <?php _e('Crear'); ?></button>
</div>

<script type="text/javascript">
        $(".select2").select2();

        function formatIcon(icon) {
            if (!icon.id) { return icon.text; }
            var originalOption = icon.element;
            var $icon = $('<span></span>').append($('<i class="fa ' + $(originalOption).data('icon') + '"></i>') ).append(icon.text);
            return $icon;
        }

        $('.select2-icon').select2({
            templateResult: formatIcon,
            templateSelection: formatIcon
        });

        $(function() {
            $('.duedate').datepicker({
                format: '<?php echo jsFormat(); ?>',
                clearBtn: 'true',
                weekStart: '<?php echo getConfigValue("week_start"); ?>',
                autoclose: true
            });
        });

        $('.summernote-modal').summernote({height: 200, maximumImageFileSize: 524288, dialogsInBody: true, disableDragAndDrop: true});



        <?php if(isset($_GET['clientid'])) { ?>
            var clientid = <?php echo $_GET['clientid']; ?>;
        <?php } else { ?>
            var clientid = 0;
        <?php } ?>

        $("#clientid").on("change", function (e) {
            clientid = $("#clientid").val();
        });

    	$('.assetsSelect').select2({
    		ajax: {
    			url: "index.php",
    			dataType: 'json',
    			data: function (params) {
    			  return {
    				q: params.term, // search term
    				qa: 'assetsSelect',
                    filterid: clientid
    			  };
    			},
    			processResults: function (data,params) {
    				return {
    					results: $.map(data, function(obj) {
    						return { id: obj.id, text: obj.text };
    					})
    				};
    			},
    			//cache: true,
    	    },
    	    minimumInputLength: 0,
    		placeholder: "<?php _e('Por favor seleccione'); ?>",
    	});

        $('.projectsSelect').select2({
            ajax: {
                url: "index.php",
                dataType: 'json',
                data: function (params) {
                  return {
                    q: params.term, // search term
                    qa: 'projectsSelect',
                    filterid: clientid
                  };
                },
                processResults: function (data,params) {
                    return {
                        results: $.map(data, function(obj) {
                            return { id: obj.id, text: obj.text };
                        })
                    };
                },
                //cache: true,
            },
            minimumInputLength: 0,
            placeholder: "<?php _e('Por favor seleccione'); ?>",
        });


</script>
